*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    text-align: center;
}

h1{
    font-size: 50px;
    margin-bottom: 15px;
}

span{
    animation: colorChange 3s infinite;
}

@keyframes colorChange{
    0%{
        color: #59b4f5;
    }
    10%{
        color: rgb(0, 195, 0);
    }
    20%{
        color: red;
    }
    30%{
        color: pink;
    }
    40%{
        color: rgb(76, 229, 191);
    }
    50%{
        color: rgb(255, 244, 40);
    }
    60%{
        color: orange;
    }
    70%{
        color: blueviolet;
    }
    80%{
        color: rgb(197, 143, 76);
    }
    90%{
        color: chartreuse;
    }
    100%{
        color: #59b4f5;
    }
}

p{
    font-size: 20px;
}

input{
    width: 300px;
    height: 35px;
    background-color: #303030;
    color: #fff;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
}

button{
    width: 150px;
    height: 30px;
    background-color: rgb(30, 144, 237);
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(79, 179, 245);
}

button:active{
    transform: scale(0.9);
}

img{
    margin: auto;
}

footer{
    background-color: black;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 96vh;
}